<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= car.model %></title>
</head>
<body>
  <h1><%= car.model %></h1>
  <% if(car.isRunning){ %>
    <p>You have read this note..</p>
  <% } else { %>
    <p>You have not read this note.. </p>
  <% } %>
  <form action="/notes/<%=car._id%>?_method=DELETE" method="POST">
    <button type="submit">
      Delete <%= car._id %>
    </button>
  </form>
  <a href="/notes/<%= car._id %>/edit">Edit <%= car._id %></a>
  <a href="/notes">Back to Cars</a>
</body>
</html>